body {
	background-color: black;
}
header {
	height: 200px;
	background-color: purple;
	border-radius: 10px;
	margin-top: -70px;
}
h1 {
	padding-top: 20px;
	font-size: 70px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
h1, p {
	text-align: center;
	color: white;
}
